.mn-has-multi {
    width: auto !important;
    padding: 0px; 
    text-align: left;
    white-space: nowrap;
}

.post-prev-img {
    margin-bottom: 5px; 
    position: relative;
}

.post-prev-text {
    margin-bottom: 5px;
    color: #777;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.75;
}

.post-prev-title {
    margin-bottom: 1px; 
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: bold;
}


.btn-mod.btn-gray {
    color: #fff;
    background: #0a0a0a;
}


.small-section {
    padding: 10px 0;
}


.checkout_button_next {
    background: black;
    color: white;
}

.checkout_button_pre {
    background: black;
    color: white;
}

.panel-default>.panel-heading {
    color: #fff;
    background-color: #252525;
    border-color: #ddd;
}

.bith_date_select {
    width: 30%;
    float: left;
}

.bith_date_select_year {
    width: 40%;
    float: left;
}

.navbar-default {
    margin-bottom: 0px;
    height: 28px;
    min-height: 10px;
    background: black;
    color: white;
    margin-bottom: 0px;
    border-radius: 0;
    border: 0;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    padding: 2px 10px;
    text-decoration: none;
    font-size: 14px;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    padding: 2px 10px;
    text-decoration: none;
    font-size: 14px;
}

.inner-nav ul li a {
    color: #000;
    
    font-size: 16px;

}

.font-alt {
    font-family: Dosis, arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.inner-nav ul li .mn-sub li a{
    font-size: 16px;
}